* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem;
  border-radius: 20px;
  background-color: orange;
  padding: 1rem;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.title {
  /* margin: 1rem; */
  text-align: center;
}

.addSubject,
.calculate,
.reset {
  margin: 1.5rem;
  margin-left: 5rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: black;
  color: white;
}
.addButton {
  /* margin-left: 5rem; */
  /* outline: none; */
  border: none;
  cursor: pointer;
  border-radius: 12px;
  padding: 0.5rem;
  background-color: black;
  color: white;
}
.reset {
  margin: 0;
}

.addSubject {
  margin: 0.5rem;
}

label {
  margin: 1rem;
}

input,
select {
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 0.2rem;
}

.close {
  display: block;
  margin: 1rem;
  margin-right: 1rem;
  cursor: pointer;

  font-size: 1.5rem;
}

.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin: 1rem;
}

span {
  color: rgb(75, 5, 189);
}

.numSubjects,
.calculate {
  margin: 1rem;
}

.result {
  margin-left: 1rem;
}

.message {
  margin: 1rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
  color: rgb(75, 5, 189);
  max-width: 40ch;
}

.removeSubject {
  background-color: transparent;
  outline: none;
  /* border: none; */
  transition: 0.33s;
  /* padding: 0.15rem; */
  padding: 0 0.25rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.removeSubject:hover {
  background-color: rgb(245, 82, 82);
}

@media screen and (max-width: 690px) {
  form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 690px) {
  .addButton:hover,
  .addSubject:hover,
  .calculate:hover,
  .reset:hover,
  .close:hover {
    background-color: white;
    color: black;
  }
  .addButton:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

/* .head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
} */
